.icon-button {
    border: none;
    background-color: white;
    color: black;
    width: 35px;
    height: 35px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;

    &.with-border {
        border: 1px solid rgb(180, 180, 180);
        width: 40px;
        height: 40px;
    }

    > i {
        font-size: 25px;
    }

    &:hover {
        background-color: rgb(240, 240, 240);
    }

    &:active {
        background-color: rgb(230, 230, 230);
    }
}