.icon-button {
    border: none;
    background-color: transparent;
    color: var(--color);
    width: 35px;
    height: 35px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;

    &.with-border {
        border: 1px solid var(--grey2);
        width: 40px;
        height: 40px;
    }

    > i {
        font-size: 25px;
    }

    &:hover {
        background-color: var(--buttonHover);
    }

    &:active {
        background-color: var(--buttonActive);
    }
}